* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html.large-text { font-size: 22px; }
.vis-hidden {
visibility: hidden;
}

#accessibility-tools-section {
position: fixed;
left: 20px;
bottom: 120px;
color: white;
z-index: 9998;
}

#accessibility-tools-bar {
position: fixed;
bottom: 0;
left: 0;
right: 0;
color: white;
z-index: 9999;
font-size: 20px;
font-weight: 600;
}

.tk-tooltips {
display: none;
position: absolute;
top: 0%;
color: black;
background-color: #eaeef1;
padding: 15px;
border-radius: 8px;
min-width: 320px;
transform: translateY(-90%);
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.tk-tooltips p {
font-size: 18px;
line-height: 1.3em;
font-family: "Poppins", sans-serif;
font-weight: 500;
}

.tk-tooltips__arrow {
position: absolute;
width: 20px;
height: 20px;
background-size: cover;
transform: rotateZ(45deg);
transform: translateY(3px);
background-image: url("https://cdn.prod.website-files.com/651b46748bd161efb9168344/654accdce33a37e9735d5c64_play.png");
}

a {
  color: white;
}

a:visited {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
  background-color: #C9C5EB;
}

.info {
  color: #727272;
  text-align: center;
  margin: 3rem;
}

#mainWord {
  margin: 16px;
  font-size: 96px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
  background: -webkit-linear-gradient(rgb(116, 113, 241), rgb(241, 130, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* typing effect  */
.auto_typed {
  font-size: 30px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: absolute;
  bottom: 10%;
  background: -webkit-linear-gradient(rgb(194, 233, 19), rgb(240, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* * Button Styling Start */

button {
  background-color: #484297;
  font-size: 24px;
  padding: 10px 50px;
  border-style: double;
  border-color: #000000;
}

button::first-letter{
  text-decoration: underline;
}

button:focus-visible{
  outline: -webkit-focus-ring-color auto 5px;
}

/* ! Button Styling End */

.button-outline{
  outline: -webkit-focus-ring-color auto 5px;
}
