/* All Formatting */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Styling */

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Root & Body Styling */

:root {
  --main-text-color: black;
  --main-background-color: #C9C5EB;
  --link-text-color: white;
  --button-body-color: #484297;
  --button-border-color: black;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

/* Toolbar Root Changes */

.tritcolour{
  --main-text-color: black;
  --main-background-color: #FEE1E6;
  --link-text-color: white;
  --button-body-color: #6584A3;
  --button-border-color: black;
}

.deutcolour{
  --main-text-color: black;
  --main-background-color: #E6E596;
  --link-text-color: white;
  --button-body-color: #0031A2;
  --button-border-color: black;
}

.monocolour{
  --main-text-color: black;
  --main-background-color: #CDDCD9;
  --link-text-color: white;
  --button-body-color: #142225;
  --button-border-color: black;
}

/* Link Styling*/

a {
  color: var(--link-text-color);
}

a:visited {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

/* TTS Instructions Styling */

.info {
  color: #727272;
  text-align: center;
  margin: 3rem;
}

/* Index Header Styling */

#mainWord {
  margin: 16px;
  font-size: 96px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
  background: -webkit-linear-gradient(rgb(116, 113, 241), rgb(241, 130, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* * Button Styling Start */

.index {
  background-color: var(--button-body-color);
  font-size: 24px;
  padding: 10px 50px;
  border-style: double;
  border-color: var(--button-border-color);
}

.index::first-letter{
  text-decoration: underline;
}

.index:focus-visible{
  outline: -webkit-focus-ring-color auto 5px;
}
